@charset "UTF-8";

/* Sets the group title to be a bolder font */
.group-title {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Changes the card title to be a bolder font */
.title {
  font-weight: 700;
}

/* Changes the subtitle to be a bolder font */
.subtitle {
  font-weight: 400;
}

/* Adds spacing to the bottom of cards */
body #app .card-content {
  margin-bottom: 0.55rem;
}

 /*Adds more border radius to the cards */
.card {
  border-radius: 0.5rem !important;
}

/* Changes Header Opacity */
body #bighead .navbar {
  background-color: rgba(33, 24, 58, 0.25);
}

/* Heading */
body #bighead .first-line .container {
  min-height: 80px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

body .search-bar input {
    opacity: 20%;
}

body #bighead .navbar a:focus, body #bighead .navbar a:hover {
   background-color: rgba(0, 0, 0, 0);
   color: var(--link-hover);
}

/* Subtitle size */
body #bighead .first-line .headline {
  margin-top: 3px;
  font-size: 1.2rem;
}

/* Title */
body #bighead .first-line h1 {
  margin-top: -12px;
  font-size: 2.5rem;
}
/* Logo */
body #bighead .first-line .logo i {
  vertical-align: top;
  padding: 8px 15px;
  font-size: 60px;
}

/* App Cards */
body #app .card {
  background-color: #2a448a;
  box-shadow: none;
}

/* Footer Text */
body .footer {
    background-color: rgba(33, 24, 58, 0.25);	
    color: #fff;
}

body #app .footer {
    box-shadow: none;
}

/* Item hastag color */
body #main-section .tag {
    color: #fff;
    background-color: #22a699;
}

/* Header category icon color */
body #main-section h2 i {
    color: #22a699;
}
